@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #334b35;
}

.farm_container {
  margin-right: 5%;
  margin-left: 5%;
}

.container_product-wheat-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . ."
    ". protein . . . weight ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". kl . . . vlaga ."
    ". . . . . . .";
}



.section {
  margin-top: 15%;
}

.section_wheat {
  margin-bottom: 10%;
}

.protein {
  grid-area: protein;
}

.kl {
  grid-area: kl;
}

.weight {
  grid-area: weight;
}

.vlaga {
  grid-area: vlaga;
}

.product_params-wheat {
  width: 200px;
  height: 100px;
  background: rgba(38, 60, 40, 0.3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_params-wheat-name {
  font-size: 16px;
  color: #EADCC1;
}

.product_params-wheat-per {
  font-size: 28px;
  color: #F7C35F;
  font-weight: 700;
}

.button {
  border-radius: 10px;
  font-size: 18px;
  padding: 25px 35px;
  margin-top: 50px;
  text-align: center;
  color: black;
  font-weight: 500;
  background: #EADCC1;
}


.ant-table table {
  font-size: 23px;
  width: auto;
  min-width: unset !important;
}

.ant-table-tbody>tr>td {
  padding: 8px;
}

html {
  scroll-behavior: smooth;
  user-select: none
}

.flax_block-item {
  display: flex;
  flex-direction: column;
  background: rgba(38, 60, 40, 0.3);
  width: 230px;
  height: 270px;
  border-radius: 40px;
  align-items: center;

}

.title_for-block {
  color: #EADCC1;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
  font-weight: 700;
}

.title_block_contact {
  color: #F7C35F;
  font-size: 18px;
  margin-bottom: 15px;
}

.text_block_contact {
  font-size: 24px;
  color: #EADCC1;
}

.block_contact-form {}

.contact-form-input {
  margin-bottom: 50px;
  width: 500px;
  height: 60px;
  border-radius: 8px;
  background: #334B35;
  color: white;
  padding: 0 30px;

}

.custom-table {
  width: 100%;
  font-size: 16px;
}

/* adaptive */

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1440px) {
  .wheat-img {
    width: 500px;
  }

  .blur-img {
    width: 600px;
  }

  .wheat-item {
    top: 2%;
    right: 31%;
  }

  .blur-item {
    top: 2%;
    right: 25%;
  }

}

@media screen and (max-width: 1024px) {
  .wheat-img {
    width: 350px;
  }

  .blur-img {
    width: 400px;
  }

  .wheat-item {
    top: 20%;
    right: 30%;
  }

  .blur-item {
    top: 20%;
    right: 26%;
  }

  .visit_title {
    font-size: 38px;
  }

  .visit_subtitle {
    font-size: 24px;
  }

  .product_params-len {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .flax_block-item {
    width: 200px;
    height: 200px;

  }

  .flax_product-name {
    font-size: 18px;
  }

  .flax_product-percentage {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .wheat-img {
    width: 350px;
  }

  .blur-img {
    width: 400px;
  }

  .wheat-item {
    top: 20%;
    right: 26%;
  }

  .blur-item {
    top: 20%;
    right: 22%;
  }

  .visit_title {
    font-size: 38px;
  }

  .visit_subtitle {
    font-size: 24px;
  }

  .product_params-len {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact-form-input {
    width: 300px;
  }
}

@media screen and (max-width: 425px) {

  .block_contact {
    display: flex;
    flex-direction: column;
  }

  .wheat-img {
    width: 220px;
  }

  .blur-img {
    width: 300px;
  }

  .wheat-item {
    top: 28%;
    right: 24%;
  }

  .blur-item {
    top: 20%;
    right: 12%;
  }

  .visit_title {
    font-size: 24px;
  }

  .visit_subtitle {
    font-size: 16px;
  }

  .visit_button {
    padding: 5px 10px;
  }

  .product_params-len {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact-form-input {
    width: 280px;
    height: 40px;
    font-size: 12px;
    padding: 10px;

  }

  .visit-wheat-img {
    width: 190px;
  }

  .header_title {
    font-size: 12px;
  }

  .header_number {
    font-size: 12px;
  }

  .visit_button {
    font-size: 10px;
    margin-top: 15px;
  }

  .title_for-block {
    font-size: 24px;
    margin-bottom: 5%;

  }

  .product_h {
    font-size: 4px;
    margin-right: 4px;
  }

  .title_logo {
    width: 20px;
  }

  .product_params-wheat {
    width: 120px;
    height: 80px;
    background: rgba(38, 60, 40, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product_params-wheat-name {
    font-size: 14px;
    color: #EADCC1;
  }

  .product_params-wheat-per {
    font-size: 16px;
    color: #F7C35F;
    font-weight: 700;
  }

  .product_params-len {
    display: flex;
    flex-wrap: wrap;
  }

  .flax_block-item {
    width: 150px;
    height: 180px;
    margin-bottom: 10px;
  }

  .flax-img {
    width: 40px;
  }

  .flax_product-name {
    font-size: 14px;
  }

  .flax_title {
    margin-bottom: 50px;
  }

  .flax_product-percentage {
    font-size: 24px;
  }

  .title_block_contact {
    font-size: 12px;
  }

  .text_block_contact {
    font-size: 16px;
  }

  .ant-modal {
    max-width: 90%;
  }

  .ant-table {
    font-size: 10px !important;
  }

  .product_h {
    font-size: 20px;
  }

  .form_button {
    font-size: 12px;
    padding: 10px 35px;
  }

  .button {
    padding: 18px 30px;
    margin-top: 15px;
    font-size: 14px;
  }

  .callback_title {
    visibility: visible;
    margin-top: 30px;
  }
}

@media screen and (max-width: 375px) {
  .wheat-img {
    width: 220px;
  }

  .blur-img {
    width: 300px;
  }

  .wheat-item {
    top: 28%;
    right: 20%;
  }

  .blur-item {
    top: 20%;
    right: 8%;
  }

  .visit_title {
    font-size: 24px;
  }

  .visit_subtitle {
    font-size: 16px;
  }

  .visit_button {
    padding: 5px 10px;
  }



}